.carousel-indicators {
  top: 20px;
}
.carousel-control {
  &.right , &.left {
    background-image: none;

    span {
      font-size: 2em;
    }

  }
  .icon-next {
    @include  fa-icon();
    @include  icon($fa-arrow-circle-right , $color : $primary-brand-color);
    font-size: 2em;

  }
  .icon-prev {
    @include  fa-icon();
    @include  icon($fa-arrow-circle-left , $color : $primary-brand-color);
  }
}

.carousel-caption {
  left: 29%;
  width: 55%;
  padding: 10px;
  top: 29%;

  h3 , p , h3 a {
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
    text-align: left;
    color: $white;

  }

}
.carousel.slide {
  background-image: url('../img/backgrounds/poster_bg.jpg');
  padding: 25px;
  border-radius: 4px;
  min-height: 369px;

  img {
    border-radius: 4px;
    width: 20%;
    left: 0%;
    position: relative;
    opacity: 1;

  }

}