
#navbar , .footer {
 display: flex;
 background-color: $light;
 padding: 25px 0;
 opacity : 0.9;
  width: 100%;
 z-index: 999;

 @include trans(opacity , 0.5s);

 @include bp(560px) {
  position: static;
 }
 .navbar-default {
  background : transparent;
  border : 0px;
 }
}
.main-container {
  margin-top: 55px;
}
.navbar-collapse {
 float: right;
}