@charset "UTF-8";
/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/**
 * @file
 * Typography Page
 *
 *
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic);
/* line 20, ../sass/_typography.scss */
.btn-info, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #494655;
  border-color: black; }
  /* line 25, ../sass/_typography.scss */
  .btn-info:hover, .btn-info:active, .btn-info:focus, .pagination > .active > a:hover, .pagination > .active > a:active, .pagination > .active > a:focus, .pagination > .active > span:hover, .pagination > .active > span:active, .pagination > .active > span:focus, .pagination > .active > a:hover:hover, .pagination > .active > a:hover:active, .pagination > .active > a:hover:focus, .pagination > .active > span:hover:hover, .pagination > .active > span:hover:active, .pagination > .active > span:hover:focus, .pagination > .active > a:focus:hover, .pagination > .active > a:focus:active, .pagination > .active > a:focus:focus, .pagination > .active > span:focus:hover, .pagination > .active > span:focus:active, .pagination > .active > span:focus:focus {
    background-color: black;
    border-color: #494655; }

/* line 34, ../sass/_typography.scss */
body {
  color: #444;
  font-family: 'open sans' , serif; }

/* line 42, ../sass/_typography.scss */
a {
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
  color: black; }
  /* line 48, ../sass/_typography.scss */
  a:hover {
    text-decoration: none;
    color: #79758c; }

/* line 54, ../sass/_typography.scss */
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 2, ../sass/partials/_header.scss */
#navbar, .footer {
  display: flex;
  background-color: #E6E6E6;
  padding: 25px 0;
  opacity: 0.9;
  width: 100%;
  z-index: 999;
  border-bottom: 6px solid #19181D;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  @media (max-width: 560px) {
    /* line 2, ../sass/partials/_header.scss */
    #navbar, .footer {
      position: static; } }
  /* line 16, ../sass/partials/_header.scss */
  #navbar .navbar-default, .footer .navbar-default {
    background: transparent;
    border: 0px; }

/* line 21, ../sass/partials/_header.scss */
.main-container {
  margin-top: 80px; }

/* line 25, ../sass/partials/_header.scss */
.front .main-container {
  margin-top: 50px; }

/* line 30, ../sass/partials/_header.scss */
.navbar-collapse {
  float: right;
  padding: 5px 0px; }

/* line 34, ../sass/partials/_header.scss */
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px; }

/* line 1, ../sass/partials/_footer.scss */
.footer {
  padding: 15px 0px; }
  /* line 5, ../sass/partials/_footer.scss */
  .footer ul li {
    float: left; }
    /* line 9, ../sass/partials/_footer.scss */
    .footer ul li a:hover {
      background: transparent; }

/* line 2, ../sass/partials/_tabs.scss */
.quicktabs-wrapper {
  margin-top: 40px; }
  /* line 4, ../sass/partials/_tabs.scss */
  .quicktabs-wrapper ul {
    padding: 0px;
    margin: 0px; }
    /* line 8, ../sass/partials/_tabs.scss */
    .quicktabs-wrapper ul li {
      border-bottom: 1px;
      position: static;
      background-color: transparent;
      margin-bottom: 0px;
      padding: 11px 15px; }
      /* line 15, ../sass/partials/_tabs.scss */
      .quicktabs-wrapper ul li.active {
        padding: 12px 15px;
        border: 1px solid #E6E6E6;
        border-bottom: 0px;
        position: relative;
        z-index: 9;
        background-color: #fff; }
      /* line 27, ../sass/partials/_tabs.scss */
      .quicktabs-wrapper ul li a, .quicktabs-wrapper ul li a:hover {
        text-decoration: none; }
  /* line 34, ../sass/partials/_tabs.scss */
  .quicktabs-wrapper .quicktabs_main {
    border: 1px solid #E6E6E6;
    padding: 0 15px 15px;
    margin-top: 8px; }

/* line 1, ../sass/partials/_films.scss */
.field-type-image {
  float: left;
  margin-right: 10px; }

/* line 8, ../sass/partials/_films.scss */
.field-name-field-film-cast .field-item {
  float: left;
  margin-right: 5px; }
  /* line 15, ../sass/partials/_films.scss */
  .field-name-field-film-cast .field-item .field-items .field-item:after {
    content: ' | '; }

/* line 26, ../sass/partials/_films.scss */
.node-teaser .field-name-field-film-age-restriction {
  float: left;
  background-color: red;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  color: white;
  min-height: 35px;
  min-width: 35px;
  line-height: 35px;
  text-align: center;
  margin-left: -32px;
  margin-top: -10px;
  margin-right: 10px;
  position: absolute;
  right: -10px;
  font-size: 11px; }

/* line 45, ../sass/partials/_films.scss */
.field-name-field-film-release-date {
  padding: 5px;
  float: left;
  border-radius: 4px;
  background-color: #19181D;
  color: white;
  margin-top: 10px; }

/* line 51, ../sass/partials/_films.scss */
.group-film-poster-wrapper {
  position: relative; }
  /* line 54, ../sass/partials/_films.scss */
  .group-film-poster-wrapper .multiple-inline-element {
    background: none;
    padding: 0px;
    margin: 0px;
    border: 0px; }
  /* line 61, ../sass/partials/_films.scss */
  .group-film-poster-wrapper .group-film-poster-content {
    position: absolute;
    top: 12%;
    right: 0px;
    width: 50%;
    background-color: rgba(230, 230, 230, 0.8);
    padding: 20px; }

/* line 71, ../sass/partials/_films.scss */
.field-type-text-with-summary {
  margin-bottom: 10px; }

/* line 74, ../sass/partials/_films.scss */
.field-name-field-film-showing-in {
  float: left;
  clear: both;
  margin-top: 20px; }

/* line 79, ../sass/partials/_films.scss */
.field-group-multiple-container .multiple-element.field-item-field_film_poster_image {
  padding: 0px; }

/* line 82, ../sass/partials/_films.scss */
.pane-node-body, .pane-node-field-film-cast, .field-name-field-film-age-restriction {
  float: left;
  clear: both;
  margin-top: 15px; }

/* line 87, ../sass/partials/_films.scss */
.field-name-field-film-age-restriction {
  margin-top: 0px; }

/* line 91, ../sass/partials/_films.scss */
.group-film-image-wrapper {
  position: relative;
  float: left; }

/* line 95, ../sass/partials/_films.scss */
.pane-now-showing-in {
  border-top: 1px solid #E6E6E6;
  clear: both;
  width: 100%;
  margin-top: 20px; }

/* line 103, ../sass/partials/_films.scss */
.pane-node-body {
  margin-bottom: 10px; }

/* line 1, ../sass/partials/_carousel.scss */
.carousel-indicators {
  bottom: -9px;
  padding: 5px;
  float: left;
  background-color: #19181D;
  color: white;
  margin-top: 10px;
  width: 100%;
  left: 30%;
  box-shadow: 0px 0px 8px 2px #524e4e;
  -moz-box-shadow: 0px 0px 8px 2px #524e4e;
  -webkit-box-shadow: 0px 0px 8px 2px #524e4e; }

/* line 15, ../sass/partials/_carousel.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  opacity: 1; }
  /* line 20, ../sass/partials/_carousel.scss */
  .carousel-control.right span, .carousel-control.left span {
    font-size: 2em;
    color: #E6E6E6; }
/* line 27, ../sass/partials/_carousel.scss */
.carousel-control .icon-next {
  font-size: 2em; }
  /* line 28, ../sass/_mixins.scss */
  .carousel-control .icon-next:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 0; }
  /* line 28, ../sass/_mixins.scss */
  .carousel-control .icon-next:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    display: inline-block;
    color: #19181D;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 0; }
  /* line 33, ../sass/partials/_carousel.scss */
  .carousel-control .icon-next:hover:before {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #494655; }
/* line 28, ../sass/_mixins.scss */
.carousel-control .icon-prev:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0; }
/* line 28, ../sass/_mixins.scss */
.carousel-control .icon-prev:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: inline-block;
  color: #19181D;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0; }
/* line 45, ../sass/partials/_carousel.scss */
.carousel-control .icon-prev:hover:before {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #494655; }

/* line 54, ../sass/partials/_carousel.scss */
.carousel-caption {
  width: 55%;
  top: 29%;
  right: 0%;
  left: 36%; }
  /* line 60, ../sass/partials/_carousel.scss */
  .carousel-caption h3, .carousel-caption p, .carousel-caption h3 a {
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
    text-align: left;
    color: black; }

/* line 69, ../sass/partials/_carousel.scss */
.carousel.slide {
  background: #E6E6E6; }
  /* line 72, ../sass/partials/_carousel.scss */
  .carousel.slide img {
    width: 25%;
    height: auto; }

/* line 78, ../sass/partials/_carousel.scss */
.panels-flexible-1 .panels-flexible-region {
  padding: 0;
  width: 100%; }

/* line 82, ../sass/partials/_carousel.scss */
.carousel-inner .item {
  padding: 15px 0 40px 0; }

/* line 85, ../sass/partials/_carousel.scss */
.view-home-slideshow {
  border-top: 30px solid #19181D; }

/* line 1, ../sass/partials/_cinema.scss */
.field-collection-item-field-cinema-time, .panel-col-first .field-name-field-cinema-adress {
  padding: 5px;
  float: left;
  border-radius: 4px;
  background-color: #19181D;
  color: white;
  color: #fff;
  margin-right: 10px; }

/* line 6, ../sass/partials/_cinema.scss */
.panel-col-first .field-name-field-cinema-adress {
  clear: both;
  text-align: center;
  float: right;
  margin-right: 0px; }

/* line 12, ../sass/partials/_cinema.scss */
.field-name-field-cinema-telephone {
  padding: 5px;
  float: left;
  border-radius: 4px;
  background-color: #19181D;
  color: white;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-right: 10px;
  color: #fff; }

/* line 28, ../sass/_mixins.scss */
.field-name-field-cinema-telephone .field-items:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0; }
/* line 24, ../sass/partials/_cinema.scss */
.field-name-field-cinema-telephone .field-items .field-item {
  float: left; }
/* line 30, ../sass/partials/_cinema.scss */
.field-name-field-cinema-telephone .field-items:before {
  float: left;
  margin-right: 6px;
  line-height: 20px;
  margin-left: 5px; }

/* line 40, ../sass/partials/_cinema.scss */
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px; }

/* line 45, ../sass/partials/_cinema.scss */
.table > thead > tr > th, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border: 0px; }

/* line 48, ../sass/partials/_cinema.scss */
.table > tbody > tr > td {
  padding-top: 16px; }

/* line 51, ../sass/partials/_cinema.scss */
.panel-col-first .pane-node-field-cinema-adress {
  float: left; }

/* line 54, ../sass/partials/_cinema.scss */
th.field_cinema_time_film {
  display: none; }

/* line 57, ../sass/partials/_cinema.scss */
.table > tbody > tr > td.field_cinema_time {
  padding-top: 12px; }

/* line 60, ../sass/partials/_cinema.scss */
#panels-ipe-regionid-left, .pane-node-field-film-teaser-image {
  margin-bottom: 10px;
  float: left;
  width: 100%;
  clear: left;
  text-align: center; }

/* line 70, ../sass/partials/_cinema.scss */
.field-name-field-film-release-date {
  clear: both;
  margin-bottom: 10px; }

/* line 74, ../sass/partials/_cinema.scss */
.pane-node-field-film-cast {
  width: 100%; }

/* line 77, ../sass/partials/_cinema.scss */
#panels-ipe-regionid-right, .pane-node-body {
  margin-bottom: 10px;
  float: left;
  width: 100%; }

/* line 84, ../sass/partials/_cinema.scss */
.field-name-field-cinema-showing-times .field_cinema_time_film, .field-name-field-cinema-showing-times .field_cinema_showing_date {
  width: 26%; }

/* line 89, ../sass/partials/_cinema.scss */
.views-field-field-cinema-time .field-collection-view {
  float: left; }

/* line 94, ../sass/partials/_cinema.scss */
.view-id-showing_times caption {
  padding: 5px;
  float: left;
  border-radius: 4px;
  background-color: #E6E6E6;
  color: white;
  color: black;
  width: 100%;
  clear: both;
  float: none;
  border-radius: 4px 4px 0 0;
  font-weight: 500; }
/* line 103, ../sass/partials/_cinema.scss */
.view-id-showing_times table {
  border: 1px solid #E6E6E6; }

/* line 107, ../sass/partials/_cinema.scss */
.pane-node-field-cinema-telephone-new {
  float: left; }

/* line 110, ../sass/partials/_cinema.scss */
.pane-node-field-cinema-adress.second-address {
  float: right; }

/* line 113, ../sass/partials/_cinema.scss */
.pane-showing-times {
  clear: both; }
  /* line 115, ../sass/partials/_cinema.scss */
  .pane-showing-times .pane-title {
    clear: both;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
    padding-top: 10px; }

/* line 2, ../sass/partials/_news.scss */
.view-id-news .submitted {
  padding: 5px;
  float: left;
  border-radius: 4px;
  background-color: #19181D;
  color: white;
  margin-bottom: 0px; }
  /* line 6, ../sass/partials/_news.scss */
  .view-id-news .submitted a {
    color: #E6E6E6; }
/* line 11, ../sass/partials/_news.scss */
.view-id-news .content {
  float: left;
  clear: both; }
/* line 15, ../sass/partials/_news.scss */
.view-id-news .views-exposed-widget .form-submit {
  margin-top: 1.8em; }

/* line 2, ../sass/partials/_home.scss */
.front .page-header {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
