@mixin trans($what : all , $time : 1s, $ease : ease-in-out) {
  -webkit-transition: $what $time $ease;
  -moz-transition: $what $time $ease;
  -o-transition: $what $time $ease;
  transition: $what $time $ease;
}
// Breakpoints
// ------------------------- //

@mixin bp($point, $type: width) {
  @if $type == "width" { @media (max-width: $point) { @content; }}
  @elseif $type == "height" { @media (max-height: $point) { @content; }}
}

// My Panel Box
@mixin panel(){
  background: $panel-bg;
  border: 1px solid $light;
  padding: 10px;
  border-radius: 2px;
}

// Icons
// ------------------------- //

@mixin icon($icon: null, $position: before, $padding: 0, $color: null, $set: null) {

  &:#{$position} {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: $icon;
    display: inline-block;
    color: $color;
    font: {
      style: normal;
      weight: normal;
    }
    line-height: 1;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @if $padding not 0 {
    @if $position == "before" {
      padding-right: $padding;
    } @elseif $position == "after" {
      padding-left: $padding;
    }
  }
  }
}
@mixin box($color : $primary-brand-color){
  padding: 5px;
  float: left;
  border-radius: 4px;
  background-color: $color;
  color: lighten($primary-brand-color , 100);

}

